@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Regular.ttf");
}

.grid-4 {
    width: 33.333333333%;
    float: left;
    padding: 0 10px;
}

.service {
    background: #e7eef6;
    padding: 30px 0 34px;
    text-align: center;

    h3 {
        margin-top: 27px;
    }

    p {
        margin-top: 31px;
        color: #88929d;
        font-size: 14px;
    }
}

.how {
    text-align: center;
    padding: 27px 0 125px;

    p {
        color: #a1a1a1;
        margin-top: 35px;
    }

    .discuss {
        position: relative;
        margin-top: 35px;

        .discuss-msg {
            width: 44.48%;
            padding: 24px 21px;
            border: 1px solid #e1e5eb;
            position: absolute;
            text-align: left;
            border-bottom: none;

            p {
                margin: 13px 0;
                padding: 0 !important;
            }

            h4 {
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                color: #717171;
            }

            p {
                font-size: 12px;
                line-height: 12px;
                padding: 15px 0;
            }
        }

        .msg-1 {
            left: 0;
            bottom: 48px;

            hr {
                background: #ff1e4f;
                height: 5px;
                margin-left: -22px;
                margin-right: -22px;
                margin-bottom: -24px;
                border: none;
            }
        }

        .msg-2 {
            top: 25px;
            right: 0;

            hr {
                background: #4fb1f3;
                height: 5px;
                margin-left: -22px;
                margin-right: -22px;
                margin-bottom: -24px;
                border: none;
            }
        }

        .msg-2::after,
        .msg-2::before {
            content: '';
            display: block;
            position: absolute;
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
        }

        .msg-1::after,
        .msg-1::before {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
        }

        .msg-2::before {
            top: 25px;
            border-color: transparent #e1e5eb transparent transparent;
            border-width: 11px;
            border-right-width: 15px;
        }

        .msg-2::after {
            top: 26px;
            border-color: transparent #fff transparent transparent;
            border-width: 10px;
            border-right-width: 14px;
        }

        .msg-1::before {
            top: 9px;
            border-color: transparent transparent transparent #e1e5eb;
            border-width: 11px;
            border-left-width: 15px;
        }

        .msg-1::after {
            top: 10px;
            border-color: transparent transparent transparent #fff;
            border-width: 10px;
            border-left-width: 14px;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans';
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.row {
    padding: 0 15px;
}

.row::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;

    button {
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 11px 15px;
        margin-top: 19px;
        color: #fff;
        border: none;
        float: right;
        background-color: #3498db;
    }

    .head-logo {
        margin-top: 22px;
        float: left;
    }

    .adaptive-btn {
        display: none;
    }

    ul {
        margin-top: 29px;
        float: right;

        li {
            margin-right: 35px;
            float: left;

            a {
                color: #fff;
                text-transform: uppercase;
            }
        }

        li:last-child {
            display: none;
        }
    }
}

.sub-header {
    height: 690px;

    .sub-head-content {
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding-top: 172px;

        h1 {
            margin-top: 74px;
            font-size: 48px;
        }

        p {
            margin-top: 29px;
            font-size: 16px;
        }

        .sub-head-group {
            position: relative;
            display: inline-block;
            margin-top: 62px;
            width: 340px;

            a {
                padding: 26px 0;
                float: left;
                width: 50%;
                color: #fff;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }

            a:nth-child(1) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background: #59a3fc;
            }

            a:nth-child(2) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: #3d92f9;
            }

            &::after {
                border: 5px solid #0078b2;
                border-radius: 50%;
                position: absolute;
                content: 'OR';
                display: block;
                margin-top: -15px;
                margin-left: -15px;
                left: 50%;
                top: 50%;
                background: #0078b2;
            }
        }
    }
}

h2,
h3,
h4 {
    color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}
@media (max-width:600px) {
    .grid-4 {
        width: 100%;
        margin-bottom: 25px;
    }
}
@media (max-width:700px) {
  .how {
      .discuss {
        .msg-1{
          bottom: 0 ;
        }
          .discuss-msg{
            width: 100%;
            position: relative;
          }

          .discuss-msg::after,.discuss-msg::before{
            display: none;
          }
        img{
          display: none;
        }
      }
  }
}
@media (max-width:930px) {
    body {
        .sub-header {
            height: 760px;

            .container {
                .row {
                    .sub-head-content {
                        h1 {
                            margin-top: 44px;
                            font-size: 36px;
                        }

                        p {
                            font-size: 14px;
                        }

                        .sub-head-group {
                            margin-top: 54px;
                            width: 180px;

                            a {
                                width: 100%;
                                border-radius: 0;
                            }

                            a:nth-child(1) {
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                            }

                            a:nth-child(2) {
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    header {
        .row {
            border-bottom: 1px solid #5b6677;
            padding-bottom: 15px;
        }

        .adaptive-btn {
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            border: 2px solid #fff;
            margin-top: 15px;
            height: 38px;
            width: 38px;
            display: block;
            float: right;
            overflow: hidden;

            span {
                position: absolute;
                display: block;
                height: 5px;
                width: 70%;
                background: #fff;
                transition: 1s width;
            }

            span:nth-child(2n) {
                right: 0;
                background: #97a9c6;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }

            span:nth-child(2n+1) {
                left: 0;
            }

            span:nth-child(1) {
                top: 5px;
            }

            span:nth-child(2) {
                top: 10px;
            }

            span:nth-child(3) {
                top: 15px;
            }

            span:nth-child(4) {
                top: 20px;
            }

            span:nth-child(5) {
                top: 25px;
            }
        }

        ul {
            margin: 0;
            text-align: center;
            top: 100%;
            left: 0;
            position: absolute;
            display: none;
            width: 100%;
            float: none;

            li {
                margin: 0;
                float: none;

                a {
                    background: rgba(1, 0, 2, 0.5);
                    color: #2b6692;
                    font-weight: bold;
                    padding: 10px 0;
                    display: block;
                }

                a:hover {
                    color: #fff;
                    background: #072b63;
                    transition: 0.75s all;
                }
            }

            li:last-child {
                display: block;

                button {
                    margin-top: 0;
                    width: 100%;
                    border-radius: 0;
                }
            }
        }

        button.sign {
            display: none;
        }
    }
}
